body {
    background-color:aliceblue;
    margin: 0;
    min-height: 100vh;
    font-family: monospace;
}


.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

.outline{
    display: flex;
    margin: auto;
    width: 400px;
    height: 500px;
    background-color:black;
    flex-direction: column;
    border: 10px solid rgba(47,47,47,1);
    border-radius: 4px;
}

.row{
    display: flex;
    flex: 1 1 100%;
    align-content: stretch;
    padding: auto;
    margin: 0px;
}

.column.special{
    flex-basis:50%;
}

.column.two{
    flex-basis: 25%;
}

.column{
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

button{
    border-radius: 8px;
    font-family: monospace;
    font-size: 3em;

}

.number,
.decimal{
    background-color: rgb(179, 217, 255);
}

.answer{
    display:flex;
    font-size:6em;
    align-items: flex-end;
    overflow: hidden;
    border: 10px solid black;
    border-radius: 4px;
    background-color: lightsteelblue;
    text-shadow: 1.3px 1.3px #383838;
}

.operand,
.equals{
    background-color:cornflowerblue;
}

.spec{
    background-color:rgb(255, 204, 153);
}

/*button:hover{
    filter:brightness(80%);
}*/

.operand:focus{
    filter:brightness(80%);
}

.number:active,
.spec:active,
.equals:active,
.decimal:active{
    filter:brightness(80%);
    -webkit-box-shadow: inset 0px 0px 5px;
    -moz-box-shadow: inset 0px 0px 5px;
         box-shadow: inset 0px 0px 5px;
    outline: none;
}

